Package: himbeerserver
Source: https://github.com/HimbeerserverDE/www.himbeerserver.de
Maintainer: HimbeerserverDE
Section: web
Description: The new Himbeerserver website
Version: 0.0.5
Architecture: all
Priority: optional
Depends: apache2, lua5.3, liblua5.3-dev, certbot, python3-certbot-apache, pandoc
Installed-Size: 230
