body {
	background-color: #ffc5f7;
	font-family: sans-serif;
}

div#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color: #bd1143;
	color: white;
}

div.navbtn {
	position: absolute;
	top: 12.5%;
	width: 5%;
	height: 75%;
	background-color: #d5295b;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200%;
}

div.navbtn:hover {
	background-color: #e5396b;
}

div#sb_open {
	left: 1.25%;
}

div#acc {
	right: 1.25%;
	color: red;
}

div#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #c5194b;
	opacity: 0;
	transition-duration: 0.4s;
}

div.sb_btn {
	position: absolute;
	left: 15%;
	width: 70%;
	height: 7.5%;
	background-color: #d5295b;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200%;
}

div.sb_btn:hover {
	background-color: #e5396b;
}

div#sb_close {
	top: 5%;
}

div#container {
	position: fixed;
	top: 10%;
	left: 0;
	right: 0;
	width: calc(100% - 4em);
	height: 90%;
	transition-duration: 0.4s;
	margin: 2em;
}

div#container a {
	color: black;
}

fieldset {
	border: 2px solid #bd1143;
}

fieldset legend {
	color: #bd1143;
}
